*{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container{
    display: grid;
    grid-template-columns: 40px  40px  40px  40px  40px  40px  40px  40px  40px  40px  40px  40px;
    grid-row: 20px  20px  20px  20px  20px  20px  20px  20px  20px  20px  20px  ;
    background-color: gold;
    gap: 10px;
    width: 600px;
    

}
.form-1{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

}
.form-2{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
.form-3{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
.form-4{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
.form-5{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
}
.form-6{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
    
}
.form-7{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    
}
.form-8{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
    
}
.form-9{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    
}
.form-10{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 6;
    
}
.form-11{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
    
}
.form-12{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 7;
    
}
.form-13{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8;
    
}
.form-14{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 8;
    
}
.form-15{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
    
}
.form-16{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 9;
    
}
.form-17{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
    
}
.form-18{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 10;
    
}
.form-19{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 10;
    grid-row-end: 11;
    
}
.form-20{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 11;
    
}
.form-21{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 12;
    
}
.form-22{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 11;
    grid-row-end: 12;
    
}
